.app__staff {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    height: 100%;
    padding: 1.2rem 0;
    padding-left: 260px;
}

@media all and (width <= 1440px) {
    .app__staff {
        padding: 1.2rem;
        padding-left: 260px;
    }
}

.staff__head {
    width: 100%;
    height: 100%;
    padding: 0.6rem 1rem;
    border-radius: 32px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #FFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
}

.staff__head p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #484848;
}

/* .staff__head a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 0.8rem;
    text-align: center;
    background-color: #215FFA;
    color: #FFF;
    border: 1.2px solid #215FFA;
    border-radius: 21px;
    font-size: 0.9rem;
    outline: none;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.12), 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
    transition: background-color 0.2s ease, color 0.2s ease;
}

@media (hover: hover) and (pointer: fine) {
    .staff__head a:hover, .staff__head a:focus-visible {
        background-color: #FFF;
        color: #215FFA;
    }
} */

.doctor__register, .paramedic__register {
    margin-top: 1.8rem;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.doctor__register > h2, .paramedic__register > h2 {
    font-size: 1.4rem;
    color: #484848;
}

.register__all {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
    gap: 1rem;
}

@media all and (width <= 980px) {

    .app__staff {
        padding: 1.2rem;
    }

}

@media all and (width <= 600px) {

    .app__staff {
        padding: 1rem 0.8rem;
    }

}