.dashboard__sidebar {
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    flex: 0 0 auto;
    position: fixed;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2rem 0.8rem;
    gap: 1.2rem;
}

.sidebar__top, .sidebar__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem;
}

.sidebar__top > h1 {
    font-size: 1.2rem;
    color: #df4e15;
    text-align: center;
}


.sidebar__nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.sidebar__nav li {
    width: 100%;
}

.sidebar__nav li a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem 0.8rem;
    border-radius: 32px;
    background-color: transparent;
    font-size: 1rem;
    color: #000000;
    border: 1.6px solid #FFFFFF;
    outline: none;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.sidebar__nav li a.page__active {
    background-color: #df4e15;
    color: #FFFFFF;
}

.sidebar__nav li a:focus-visible, .sidebar__bottom button:focus-visible {
    border: 1.6px solid #df4e15;
}

.sidebar__nav li a span {
    font-weight: 500;
}

.sidebar__bottom {
    gap: 1.2rem;
}

.sidebar__profile {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    color: #686868;
    padding: 0rem 0.8rem;
}

.sidebar__profile p {
    font-size: 0.8rem;
    font-weight: 500;
    color: #686868;
}

.sidebar__profile p span {
    font-size: 1.2rem;
    width: 100%;
    display: block;
}

.sidebar__bottom button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem 0.8rem;
    border-radius: 32px;
    font-family: inherit;
    font-weight: 500;
    background-color: transparent;
    font-size: 1rem;
    color: #000000;
    border: 1.6px solid #FFFFFF;
    outline: none;
    transition: background-color 0.2s linear, color 0.2s linear;
}


@media (hover: hover) and (pointer: fine) {

    .sidebar__nav li a:hover, .sidebar__bottom button:hover {
        background-color: #df4e15;
        color: #FFFFFF;
    }
}

@media all and (width <= 980px) {

    .dashboard__sidebar {
        position: static;
        width: 100%;
        height: 100%;
        padding: 0.8rem 0.6rem;
    }

    .sidebar__top img {
        width: 200px;
    }

    .sidebar__nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0.4rem;
    }

    .sidebar__nav li a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        gap: 0.6rem;
    }

    .sidebar__bottom {
        display: none;
    }

}

@media all and (width <= 800px) {

    .sidebar__top {
        gap: 1.2rem;
    }

    .sidebar__nav li a span {
        display: none;
    }

}