.register__card {
    padding: 0.6rem 0.7rem;
    border: 1px solid #48484820;
    background-color: #FFF;
    box-shadow: 0 1px 4px 2px #2323231f;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.staff__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.details__head {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.details__head p:nth-child(1) {
    font-size: 0.95rem;
    color: #232323;
    background-color: #FFF;
    border-radius: 16px;
    padding: 0.3rem 0.6rem;
    font-weight: 500;
    box-shadow: 0 0 4px 2px #23232310;
}

.details__head p:nth-child(2) {
    font-size: 1rem;
    color: #232323;
    background-color: #BAEAFF;
    border-radius: 16px;
    padding: 0.3rem 0.8rem;
    font-weight: 400;
}

.details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid rgba(118, 118, 128, 0.268);
    padding: 0.4rem 0.4rem;
    border-radius: 12px;
    gap: 0.3rem;

}

.details p:nth-child(1) {
    font-size: 0.8rem;
    text-align: left;
    color: #232323;
    font-weight: 600;
    flex-grow: 1;
}

.details p:nth-child(2) {
    font-size: 0.8rem;
    text-align: left;
    color: #232323;
}

.can__register {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

.can__register button {
    padding: 0.5rem 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    outline: none;
    border-radius: 18px;
    width: 100%;
    border: 1.2px solid #215FFA;
    transition: background-color 0.2s ease, color 0.2s ease, outline 0.2s ease;
}

.can__register button:nth-child(1) {
    background-color: #215FFA;
    color: #FFF;
}

.can__register button:nth-child(2) {
    background-color: transparent;
    color: #215FFA;
}

.can__register button:nth-child(1):focus-visible {
    background-color: transparent;
    color: #215FFA;
}

.can__register button:nth-child(2):focus-visible {
    outline: 1px solid #215FFA;
}