.app__register {
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    background-color: #F5F7F9;
}

.register__center {
    width: 700px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0.8rem;
    gap: 1.2rem;
}

.register__center > img {
    width: 180px;
    aspect-ratio: 1;
    height: auto;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.register__center h1 {
    color: #232323;
    text-align: center;
    font-size: 1.6rem;
}

.register__main {
    width: 100%;
    height: 100%;
    margin-top: 1.2rem;
}

.register__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: 0 0 4px 1px #24242430;
    border: 1.2px solid #23232350;
}

.register__form h2 {
    width: 100%;
    text-align: left;
    font-size: 1.32rem;
    color: #232323;
}

.register__form h3 {
    width: 100%;
    text-align: left;
    font-size: 1rem;
    color: #232323;
    margin-top: 1rem;
}

.multi__input {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form__check {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;
}

.form__check input {
    accent-color: #df4e15;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form__check input:focus {
    border: 3px solid #df4e15;
    border-radius: 4px;
}

.form__check label {
    font-size: 1rem;
    color: #232323;
    font-weight: 500;
    text-align: left;
}

.location__detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main__location {
    width: 100%;
    position: relative;
}

.location__suggestions {
    position: absolute;
    width: 100%;
    left: 0;
    top: 48px;
}

.register__form > input, .input__detail > input, .multi__input > input, .main__location > input {
    width: 100%;
    border: 1.6px solid #23232398;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    font-size: 1rem;
    color: #232323;
    font-family: inherit;
    outline: none;
    transition: border 0.2s ease;
}

.input__detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
}

#tnc {
    width: 100%;
    text-align: left;
    font-size: 1rem;
}

#tnc a {
    padding: 0.1rem;
    border-radius: 4px;
    font-size: 0.92rem;
    text-decoration: underline;
}

#tnc > a:focus-visible {
    outline: 1.2px solid #df4e15;
}


.input__detail p {
    font-size: 0.8rem;
    color: #5d5d5d;
    text-align: left;
}

.register__form > button {
    width: 100%;
    border-radius: 8px;
    margin-top: 0.5rem;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-family: inherit;
    background-color: #df4e15;
    color: #FFFFFF;
    border: 1.2px solid #df4e15;
    outline: none;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.register__form > button:disabled {
    background-color: #c99e8dcf;
    cursor: not-allowed;
}

.register__form > label {
    width: 100%;
    border-radius: 8px;
    margin-top: 0.5rem;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-family: inherit;
    color: #df4e15;
    border: 1.2px solid #df4e15;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    outline: none;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.register__form input:focus-visible {
    border: 1.6px solid #df4e15;
    color: #df4e15;
}

.register__form input:focus::placeholder {
    color: #df4e15A0;
}

.register__form > button:focus-visible {
    background-color: #FFF;
    color: #df4e15;
}

.final__showcase {
    width: 100%;
    max-width: 520px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 24px;
    box-shadow: 0 0 4px 1px #23232310;
}

.final__showcase > p {
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.final__showcase img {
    height: 240px;
    width: auto;
    aspect-ratio: 1.2/1;
    object-fit: cover;
}

.final__showcase a {
    border-radius: 8px;
    margin-top: 0.5rem;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-family: inherit;
    background-color: #df4e15;
    color: #FFFFFF;
    border: 1.2px solid #df4e15;
    outline: none;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.final__showcase > a:focus-visible {
    background-color: #FFF;
    color: #df4e15;
}